/* by flosha */

:root {
  color-scheme: dark;

  --black: #000;
  --dark: #121212;
  --light: #dddddd;
  --blood: #844d44;
  --copper: #8c5f4e;
  --demonic: #855f67;
  --gold: #976b42;
  --ore: #4f6766;
  --silver: #aaa;
  --stone: #5b5b5b;
  --link: #96574f;
}

body {
  background: var(--black);
  color: var(--silver);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; 
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  padding: 2em 2em 0;
  position: absolute;
}

nav {
  font-size: 14px;

  padding: 3em;
  max-width: 380px;

  border-right: 2px solid var(--stone);

  --spacing : 1rem;
  --radius  : 10px;
}

main {
  padding: 3em;
  max-width: 650px;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

h1::before { content: "#"; }
h2::before { content: "##"; }
h3::before { content: "###"; }
h4::before { content: "####"; }
h5::before { content: "#####"; }
h6::before { content: "######"; }

h1::before, h2::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  color: var(--blood);
  padding-right: 0.5em;
}

main h1+h2+h3+h4+h5+h6 {
  font-weight: normal;
}


/* LINKS */

a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--blood);
}


/* LIST STYLE */

nav ol+ul { 
  /*counter-reset: item;*/

  /*margin-left: 0;*/
  margin-left : calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

nav li {
  display: block;
  position: relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
  /* margin-left: 17px; */
}

nav ol li, nav ul li {
  border-left : 1px solid var(--stone);
}

nav ul li::before, nav ol li::before {
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -1px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid var(--stone);
  border-width : 0 0 1px 1px;
}


nav ol li::before {
  /*content: counters(item, ".") ". ";
  counter-increment: item;*/
}

nav ul li:last-child, ol li:last-child {
  border-color: transparent;
}


/* CODE */

code { font-family: monospace; }


/* TABLES */

table {
  margin: 2em 0;
}

table, th, td {
  border: 1px solid #4a4843;
  border-collapse: collapse;
}

th, td {
  padding: 0.3em;
}


/* MISC */

.subtext {
  font-size: 12px;
  background-color: var(--black);
  border: 1px solid #4a4843;
  padding: 1em;
}

.added { color: var(--demonic); }
.changed { color: var(--ore); }


/* MOBILE */

@media screen and (max-width: 1000px) {
  nav {
    border: none;
  }
}
