/* by flosha */

:root {
  --black: #000;
  --dark: #121212;
  --light: #dddddd;
  --blood: #844d44;
  --copper: #8c5f4e;
  --demonic: #855f67;
  --gold: #976b42;
  --ore: #4f6766;
  --silver: ;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; 
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  width: 100%;
  padding: 2em 2em 0;
  position: absolute;
}

nav {
  font-size: 14px;

  padding: 3em;
  max-width: 380px;

  border-right: 2px solid silver;
}

main {
  padding: 3em;
  max-width: 650px;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

h1::before { content: "#"; }
h2::before { content: "##"; }
h3::before { content: "###"; }
h4::before { content: "####"; }
h5::before { content: "#####"; }
h6::before { content: "######"; }

h1::before, h2::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  color: var(--blood);
  padding-right: 0.5em;
}

main h1+h2+h3+h4+h5+h6 {
  font-weight: normal;
}

a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: var(--ore);
}

a:hover {
  color: var(--blood);
}

ol, ul { 
  padding-left: 0;
  margin-left: 0;
}

li {
  margin-left: 17px;
}

code { font-family: monospace; }


table {
  margin: 2em 0;
}

table, th, td {
  border: 1px solid #4a4843;
  border-collapse: collapse;
}

th, td {
  padding: 0.3em;
}

.subtext {
  font-size: 12px;
  background-color: var(--black);
  border: 1px solid #4a4843;
  padding: 1em;
}

.added { color: var(--demonic); }
.changed { color: var(--ore); }

