/* by flosha */

:root {
  color-scheme: dark;

  --black: #000;
  --dark: #121212;
  --light: #dddddd;
  --blood: #844d44;
  --copper: #8c5f4e;
  --demonic: #855f67;
  --gold: #976b42;
  --ore: #4f6766;
  --silver: #aaa;
  --stone: #5b5b5b;
  --link: #96574f;
}

body {
  background: var(--black);
  color: var(--silver);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; 
  margin: 0;

  display: flex;
  flex-direction: row;
}

header {
  padding: 2em 2em 0;
  position: absolute;
}

nav {
  font-size: 14px;

  padding: 2.5em;
  margin-top: 2em;
  max-width: 380px;

  border-right: 1px dashed var(--stone);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#content {
  padding: 2em 3em 3em;
  max-width: 650px;
}

#content h1 {
  font-size: 60px;
}

#coverpics {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#coverpics img {
  max-height: 250px;
  padding: 1em 0;
}


/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

h1::before { content: "#"; }
h2::before { content: "##"; }
h3::before { content: "###"; }
h4::before { content: "####"; }
h5::before { content: "#####"; }
h6::before { content: "######"; }

h1::before, h2::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  color: var(--blood);
  padding-right: 0.5em;
}

main h1+h2+h3+h4+h5+h6 {
  font-weight: normal;
}


/* LINKS */

a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-out;
}


/* LIST STYLE */

nav ol, nav ul {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
  padding-bottom: 0.5em;
}

nav ol>li, nav ul>li {
  padding-left: 1.5em;
}

nav ul>li::before {
  content: "[";
  padding-right: 0.3em; 
  color: var(--gold);
}

nav ul>li::after {
  content: "]";
  padding-left: 0.3em;
  color: var(--gold);
}

nav ol>li { 
  counter-increment: item;
}

nav li>ol>li {
  border-left: 1px dashed var(--stone);
}

ol>li::before { 
  content: counters(item, '.') '. '; 
  color: #6a6a6a;
}



/* CODE */

pre {
  background: var(--dark);
  padding: 1em;
  margin: 2em 0 2.5em;
  overflow: auto;
}

code { 
  font-family: monospace; 
}


/* TABLES */

table {
  margin: 2em 0;
}

table, th, td {
  border: 1px solid #4a4843;
  border-collapse: collapse;
}

th, td {
  padding: 0.3em;
}


/* MISC */

.subtext {
  font-size: 12px;
  background-color: var(--black);
  border: 1px solid #4a4843;
  padding: 1em;
}

.added { color: var(--demonic); }
.changed { color: var(--ore); }


/* MOBILE */

@media screen and (max-width: 1000px) {
  nav {
    border: none;
  }
}
