<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{page.title}} | {{site.title}}</title>
<link rel="stylesheet" href="../styles.css">
<link rel="icon" type="image/x-icon" href="/phoenix-docs/nyx.ico" />

<body>

  <header>
    <h1>Phoenix Docs</h1>
  </header>

  <nav>

<h2>Index</h2>

<ol>
	<li>Vision
		<ol>
			<li>Introduction</li>
			<li>What is Gothic?</li>
			<li>Design Philosophy</li>
		</ol>
	</li>
	<li>Mechanics
		<ol>
			<li>Classes</li> 
			<li>Attributes</li> 
			<li>Skills</li>
			<li>Modes of Interaction
				<ol>
					<li>Exploration Mode
						<ol>
							<li>Item Handling</li>
							<li>Inventory</li>
							<li>Object Interaction</li>
						</ol>
					</li>
					<li>Combat Mode</li>
					<li>Stealth Mode</li>
					<li>Magic Mode</li>
					<li>Dialogue Mode</li>
					<li>Crafting Mode</li>
					<li>Trading Mode</li>
				</ol>
			</li>	
			<li>Relations</li>
			<li>Interface</li>
			<li>Events</li>
			<li>AI Functions</li>
		</ol>
	</li>
	<li>Story
		<ol>
			<li>Introduction</li>
			<li>Setting
				<ol>
					<li>Mythology</li>
					<li>Geography</li>
					<li>Culture</li>
					<li>MetaPhysics</li>
					<li>History</li>
				</ol>
			</li>
			<li>World
				<ol>
					<li>Level Structure (Abstract)</li>
					<li>World Development (Research)</li>
					<li>World Description
						<ol>
							<li>Levels</li>
							<li>Camps</li>
							<li>Guilds</li>
							<li>Characters</li>
							<li>Climate/Vegetation</li>
							<li>Monsters</li>
							<li>Items</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>Plot
				<ol>
					<li>Background Story
						<ol>
							<li>The Revolt</li>
							<li>Founding of the Camps</li>
						</ol>
					</li>
					<li>Alpha Plot(s)</li>
					<li>Sequel Plot</li>
					<li>Phoenix Plot
						<ol>
							<li>Act I
								<ol>
									<li>Plot Abstract</li>
									<li>Plot Description
										<ul>
											<li>Welt der Verurteilten</li>
											<li>Wogen des Wahnsinns</li>
											<li>Die Prophezeiung</li>
											<li>Der Minenkrieg</li>
											<li>Hüter des Tempels</li>
											<li>Die Blutnacht</li>
										</ul>
									</li>
									<li>Plot Logic</li>
								</ol>
							</li>
							<li>Between Act I and II</li>
							<li>Act II
								<ol>
									<li>Plot Abstract</li>
									<li>Plot Description
										<ul>
											<li>Return to Prison</li>
											<li>Ore of Blood</li>
											<li>Ruins of the City</li>
											<li>Demonic Liberation</li>
										</ul>
									</li>
									<li>Plot Logic</li>
								</ol>
							</li>
						</ol>
					</li>
					<li>Guild Plots
						<ul>
							<li>The Way of Power</li>
							<li>Fate of the Gladiator</li>
							<li>Life for the Temple</li>
							<li>A Shadow in the Crowd</li>
							<li>Red Blood on blue Scarves</li>
							<li>Path to Awakening</li>
							<li>Way of the Arcane</li>
						</ul>
					</li>
				</ol>
			</li>
			<li>Relations
				<ol>
					<li>Story Events</li>
					<li>Guild Attitudes</li>
					<li>Relation System</li>
				</ol>
			</li>
			<li>Missions
				<ol>
					<li>Act I Missions
						<ul>
							<li>Old Camp</li>
							<li>New Camp</li>
							<li>Free Camp</li>
							<li>Psi Camp</li>
						</ul>
					</li>
					<li>Act II Missions
						<ul>
							<li>Secret</li>
						</ul>
					</li>
				</ol>
			</li>
		</ol>
	</li>
	<li>Inspirations</li>
	<li>Appendix</li>
</ol>

</nav>

<main>

</main>

</body>
