<a href="/"><img src="/_img/phnx3.png" /></a>

<div class="nav-index-title">Index</div>

<ol>
  <li>
    <span>Preface</span>
    <ol>
      <li><a href="/">Introduction</a></li>
      <li>Document Structure</li>
      <li><a href="/roadmap">Roadmap</a></li>
    </ol>
  </li>

  <li>
    <span>
      <a href="/vision/">Vision</a>
    </span>
    <ol>
      <li><a href="/vision/vision-of-gothic">Vision of Gothic</a></li>
      <li><a href="/vision/gothic-defined">Gothic defined</a></li>
      <li>A Clash of Dreams</li>
      <li>Phoenix Rising</li>
      <li>Artdesign Notes</li>
      <li><a href="/vision/reconstruction">Reconstruction</a></li>
    </ol>
  </li>

  <li>
    <span>
      <a href="/mechanics/">Mechanics</a>
    </span>
    <ol>
      <li><a href="/mechanics/storydriven">Storydriven</a></li>
      <li>Classes</li>

      <li>
        <details open>
          <summary>Attributes</summary>
          <ol>
            <li><a href="/mechanics/attributes-alpha">Alpha Attributes</a></li>

            <li>
              <details open>
                <summary><a href="/mechanics/attributes-phoenix">Phoenix Attributes</a></summary>
                <ol>
                  <li><a href="/mechanics/focus">Focus</a></li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>Skills</li>

      <li>
        <details open>
          <summary>Modes of Interaction</summary>
          <ol>
            <li>
              <details open>
                <summary>Exploration Mode</summary>
                <ol>
                  <li>Item Handling</li>
                  <li>Inventory</li>
                  <li>Object Interaction</li>
		  <li><a href="/mechanics/mission-preparation">Mission Preparation</a></li>
                </ol>
              </details>
            </li>

            <li>Combat Mode</li>
            <li><a href="/mechanics/stealth">Stealth Mode</a></li>
            <li>Magic Mode</li>
            <li>Dialogue Mode</li>
            <li>Crafting Mode</li>
            <li><a href="/mechanics/trading">Trading Mode</a></li>
          </ol>
        </details>
      </li>

      <li>Experience or Arts</li>
      <li>Relations</li>

      <li>
        <details open>
          <summary>Interface</summary>
          <ol>
            <li><a href="/mechanics/retro-style">RetroStyle</a></li>
          </ol>
        </details>
      </li>

      <li>Events</li>
      <li>AI Functions</li>
      <li><a href="/mechanics/playmodes">Playmodes</a></li>

      <li>
        <details open>
          <summary>Multiplayer</summary>
          <ol>
            <li><a href="/mechanics/multiplayer-alpha">Alpha Multiplayer</a></li>
            <li><a href="/mechanics/multiplayer-phoenix">Phoenix Multiplayer</a></li>
          </ol>
        </details>
      </li>
    </ol>
  </li>

  <li>
    <span><a href="/lore/">Lore</a></span>
    <ol>
      <li>
        <details open>
          <summary>Mythology</summary>
          <ol>
            <li><a href="/lore/gods">Gods & Demons</a></li>
            <li><a href="/lore/spheres">Cosmology</a></li>
            <li><a href="/lore/arcane">The Arcane</a></li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Culture</summary>
          <ol>
            <li><a href="/lore/cults">Cults & Sects</a></li>
	    <li><a href="/lore/orcish">Orcish Language</a></li>
          </ol>
        </details>
      </li>

      <li>MetaPhysics</li>

      <li>
        <details open>
          <summary><a href="/lore/geography">Geography</a></summary>
          <ol>
            <li>
              <details open>
                <summary><a href="/lore/myrtana">Myrtana</a></summary>
                <ol>
                  <li>
                    <details open>
                      <summary><a href="/lore/tymoris">Tymoria</a></summary>
                      <ul>
                        <li><a href="/lore/westfield">Westfield</a></li>
                        <li><a href="/lore/khorinis">Khorinis</a></li>
                      </ul>
                    </details>
                  </li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary><a href="/lore/history">History</a></summary>
          <ol>
            <li><a href="/lore/phoenix-allegory">Phoenix Allegory</a></li>
          </ol>
        </details>
      </li>
    </ol>
  </li>

  <li>
    <span><a href="/world/">World Design</a></span>
    <ol>
      <li>
        <details open>
          <summary>World Map & Layout</summary>
          <ol>
            <li><a href="/world/level-structure">Level Structure</a></li>
            <li><a href="/world/map-evolution">Evolution of the Map</a></li>
            <li>Layout of the World</li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Landscape & Climate</summary>
          <ol>
            <li>The Valley of Mines</li>
            <li>Falls, Lakes, Rivers, Springs</li>
            <li>Islands</li>
            <li>The Swamp of Lost Souls</li>
            <li>Sea & Coastline</li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Flora / Vegetation</summary>
          <ol>
            <li>Plants & Mushrooms</li>
            <li>Forests</li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Fauna / Monster Design</summary>
          <ol>
            <li>Mammals</li>
            <li>Reptiles</li>
            <li>Insects</li>
            <li>Undead</li>
            <li>Demons</li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Locations</summary>
          <ol>
            <li>
              <details open>
                <summary>Overworld</summary>
                <ol>
                  <li><a href="/world/northeast">Northeast</a></li>
				  <li><a href="/world/freecamp">Free Camp</a></li>
                </ol>
              </details>
            </li>

            <li>Underworld</li>
            <li>Outside World</li>
            <li>Demonworld</li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary><a href="/world/factions/">Faction Design</a></summary>
          <ol>
            <li>
              <details open>
                <summary><a href="/world/factions/guilds/guilds-descriptions">Guilds</a></summary>
                <ol>
                  <li>
                    <details open>
                      <summary>Orpheus</summary>
                      <ul>
                        <li>Folk (BDL/BEG/BAU)</li>
                        <li>Mafia (EBR/GRD/STT)</li>
                        <li>Clergy (KDF/KDW)</li>
                        <li>Anti-Royal (<a href="/world/factions/guilds/gladiators">SLD</a>/ORG/BDT)</li>
                        <li>Heretics (PSI/DMB)</li>
                        <li>Revolt (<a href="/world/factions/guilds/sfb">SFB</a>/<a href="/world/factions/guilds/fll">FLL</a>/MST)</li>
                        <li>Clans (BLO)</li>
                      </ul>
                    </details>
                  </li>

                  <li>
                    <details open>
                      <summary>Nemesis</summary>
                      <ul>
                        <li>Folk (WRK/BEG/BAU)</li>
                        <li>Magnates (VRT)</li>
                        <li>Clergy (KDF/KDW/KDL)</li>
                        <li>Outlaws (<a href="/world/factions/guilds/demonhunters">DHT</a>/BDT)</li>
                        <li>Royals (PAL/<a href="/world/factions/guilds/royal-guard">GRD</a>/SLD)</li>
                        <li>Heretics (MYS/DMC/AMZ)</li>
                        <li>Revolt (MST/SLV)</li>
                        <li>Law (MGS/<a href="/world/factions/guilds/inquisition">INQ</a>/<a href="/world/factions/guilds/black-guard">SGD</a>)</li>
                        <li>Pariahs (POS/HLF)</li>
                        <li>Clans (BLO/DRE)</li>
                      </ul>
                    </details>
                  </li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>
    </ol>
  </li>

  <li>
    <span>Plot</span>
    <ol>
      <li><a href="/story/alpha-story-analysis">Alpha Plot(s)</a></li>
      <!-- including story events + guild attitudes -->
      <li>Sequel Plot</li>

      <li>
        <details open>
          <summary>Phoenix Plot</summary>
          <ol>
            <li>
              <details open>
                <summary>Act I: Orpheus</summary>
                <ol>
                  <li>
                    <details open>
                      <summary>Plot Abstract</summary>
                      <ul>
                        <li>
                          <details open>
                            <summary>Guild Progression</summary>
                            <ul>
                              <li><a href="/story/factions/guilds-joining-conditions">Joining Conditions</a></li>
                              <li><a href="/story/factions/options-of-defection">Options of Defection</a></li>
                            </ul>
                          </details>
                        </li>
                      </ul>
                    </details>
                  </li>

                  <li>
                    <details open>
                      <summary>Plot Description</summary>
                      <ul>
                        <li>Chapter 1: World of Convicts</li>
                        <li>Chapter 2: Waves of Madness</li>
                        <li>Chapter 3: Underground City</li>
                        <li>Chapter 4: War of Mines</li>
                        <li>Chapter 5: Ancient Temple</li>
                        <li>Chapter 6: Bloodnight</li>
                      </ul>
                    </details>
                  </li>

                  <li>Plot Logic</li>
                </ol>
              </details>
            </li>

            <!-- Between Act 1 to 2 -->

            <li>
              <details open>
                <summary>Act II: Nemesis</summary>
                <ol>
                  <li>Plot Abstract</li>

                  <li>
                    <details open>
                      <summary>Plot Description</summary>
                      <ul>
                        <li>Chapter 7: Return to Prison</li>
                        <li>Chapter 8: Ruins of the City</li>
                        <li>Chapter 9: Of Ore and Blood</li>
                        <li>Chapter 10: A fallen Empire</li>
                        <li>Chapter 11: Rain in Revolt</li>
                        <li>Chapter 12: Sacrifice of Freedom</li>
                      </ul>
                    </details>
                  </li>

                  <li>Plot Logic</li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Guild Plots</summary>
          <ol>
            <li>
              <details open>
                <summary>Act I</summary>
                <ul>
                  <li>The Way of Power<!-- Grd, OC or Fighter in general --></li>
                  <!-- <li>Fate of the Gladiator // Merc/NC</li> -->
                  <!-- <li>Life for the Temple // Tpl/Psi</li> -->
                  <!-- <li>A Shadow in the Crowd //</li> -->
                  <li>Pursuit of Silence<!-- Thief General --></li>
                  <!-- <li>Red Blood on blue Scarves // Org</li> -->
                  <li>Path to Awakening</li>
                  <li>Way of the Arcane</li>
                  <li>Friends of Freedom</li>
                </ul>
              </details>
            </li>

            <li>
              <details open>
                <summary>Act II</summary>
                <ul>
                  <li>Revolutionary Zeal</li>
                  <li>Of Ancient Mysteries</li>
                  <li>The Acceptance of Fear</li>
                  <li>Against the Vessels of Pain</li>
                  <li>Heresy and Treason</li>
                </ul>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary><a href="/story/relation-system">Relation System</a></summary>
          <ol>
            <li>
              <details open>
                <summary>Population</summary>
                <ol>
                  <li><a href="/story/factions/colony-population">Colony Population</a></li>
                  <li>City Population</li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>
        <details open>
          <summary>Missions</summary>
          <ol>
            <li>
              <details open>
                <summary>Act I Missions</summary>
                <ol>
                  <li>OldCamp</li>
                  <li>NewCamp</li>
                  <li>FreeCamp</li>
                  <li>PsiCamp</li>
                  <li>OrcCity</li>
                </ol>
              </details>
            </li>

            <li>
              <details open>
                <summary>Act II Missions</summary>
                <ol>
                  <li>RefugeeCamp</li>
                  <li>TymorianFortress</li>
                  <li>KhorinisCity</li>
                  <li>CampOfTents</li>
                  <li>DemonCamp</li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>
    </ol>
  </li>

  <li>
    <span>Appendix</span>
    <ol>
      <li>
        <details open>
          <summary>Promotion</summary>
          <ol>
            <li><a href="/promo/media">Media</a></li>
            <li><a href="/promo/press">Press</a></li>
            <li><a href="/promo/faq/en">FAQ</a></li>

            <li>
              <details open>
                <summary>Devblog (Behind the Scenes)</summary>
                <ol>
                  <li><a href="/appendix/behind-the-scenes/team">The Team behind Phoenix</a></li>

                  <li>
                    <details open>
                      <summary><a href="/appendix/behind-the-scenes/behind-the-imagery">Behind the Imagery</a></summary>
                      <ol>
                        <li><a href="/appendix/behind-the-scenes/team-branding">PhoenixTales Branding</a></li>
                        <li><a href="/appendix/behind-the-scenes/ascii">Design of the ASCII Art</a></li>
                        <li><a href="/appendix/behind-the-scenes/nyx-sign">Evolution of the Nyx Sign</a></li>
                        <li>Phoenix Logo Design</li>
                        <li>Behind the Mask</li>
                      </ol>
                    </details>
                  </li>

                </ol>
              </details>
            </li>

            <li>
              <details open>
                <summary>Essays</summary>
                <ol>
                  <li><a href="/appendix/behind-the-scenes/rescue-of-design">The Rescue of Design</a></li>
                  <li><a href="/appendix/behind-the-scenes/behind-the-eyes">Behind the Eyes of Elliot</a></li>
                  <li>Art and the Demonic Threat</li>
                  <li>The Return of the Design</li>
                </ol>
              </details>
            </li>
          </ol>
        </details>
      </li>

      <li>Inspirations</li>
      <li>Credits</li>
    </ol>
  </li>
</ol>

<p class="doc-pdf">
  <!-- Download the Docs -->
  <!-- Physical Print -->
</p>

<style>
  /*
	.header { 
		font-family: "IBM VGA 8x16"; 
  		text-transform: uppercase;
		font-size: 16px;
		margin: 0 1em 0;
		padding: 0;
		position: absolute;
	}


	@media only screen
	and (max-width : 820px) {
	
	/* HIDE HEADING due to inclusion in menu button */
  /*		.header { display: none; }
	} */
</style>
