---
layout: default
title: Index
---

<h2>Index</h2>

<ol>
	<li>Vision</li>
		<ol>
			<li>Introduction</li>
			<li>What is Gothic?</li>
			<li>Design Philosophy</li>
		</ol>
	<li>Mechanics</li>
		<ol>
			<li>Classes</li> 
			<li>Attributes</li> 
			<li>Skills</li>
			<li>Modes of Interaction</li>
				<ol>
					<li>Exploration Mode</li>
						<ol>
							<li>Item Handling</li>
							<li>Inventory</li>
							<li>Object Interaction</li>
						</ol>
					<li>Combat Mode</li>
					<li>Stealth Mode</li>
					<li>Magic Mode</li>
					<li>Dialogue Mode</li>
					<li>Crafting Mode</li>
					<li>Trading Mode</li>
				</ol>	
			<li>Relations</li>
			<li>Interface</li>
			<li>Events</li>
			<li>AI Functions</li>
		</ol>
	<li>Story</li>
		<ol>
			<li>Introduction</li>
			<li>Setting</li>
				<ol>
					<li>Mythology</li>
					<li>Geography</li>
					<li>Culture</li>
					<li>MetaPhysics</li>
					<li>History</li>
				</ol>
			<li>World</li>
				<ol>
					<li>Level Structure (Abstract)</li>
					<li>World Development (Research)</li>
					<li>World Description</li>
						<ol>
							<li>Levels</li>
							<li>Camps</li>
							<li>Guilds</li>
							<li>Characters</li>
							<li>Climate/Vegetation</li>
							<li>Monsters</li>
							<li>Items</li>
						</ol>
				</ol>
			<li>Plot</li>
				<ol>
					<li>Background Story</li>
						<ol>
							<li>The Revolt</li>
							<li>Founding of the Camps</li>
						</ol>
					<li>Alpha Plot(s)</li>
					<li>Sequel Plot</li>
					<li>Phoenix Plot</li>
						<ol>
							<li>Act I</li>
								<ol>
									<li>Plot Abstract</li>
									<li>Plot Description</li>
										<ol>
											<li>Welt der Verurteilten</li>
											<li>Wogen des Wahnsinns</li>
											<li>Die Prophezeiung</li>
											<li>Der Minenkrieg</li>
											<li>Hüter des Tempels</li>
											<li>Die Blutnacht</li>
										</ol>
									<li>Plot Logic</li>
								</ol>
							<li>Between Act I and II</li>
							<li>Act II</li>
								<ol>
									<li>Plot Abstract</li>
									<li>Plot Description</li>
										<ul>
											<li>[Return to Prison]</li>
											<li>[Ore of Blood]</li>
											<li>[Ruins of the City]</li>
											<li>[Demonic Liberation]</li>
										</ul>
									<li>Plot Logic</li>
								</ol>
						</ol>
					<li>Guild Plots</li>
						<ul>
							<li>[The Way of Power]</li>
							<li>[Fate of the Gladiator]</li>
							<li>[Life for the Temple]</li>
							<li>[A Shadow in the Crowd]</li>
							<li>[Red Blood on blue Scarves]</li>
							<li>[Path to Awakening]</li>
							<li>[Way of the Arcane]</li>
						</ul>
				</ol>
			<li>Relations</li>
				<ol>
					<li>Story Events</li>
					<li>Guild Attitudes</li>
					<li>Relation System</li>
				</ol>
			<li>Missions</li>
				<ol>
					<li>Act I Missions</li>
						<ol>
							<li>Old Camp</li>
							<li>New Camp</li>
							<li>Free Camp</li>
							<li>Psi Camp</li>
						</ol>
					<li>Act II Missions</li>
						<ol>
							<li>[Secret]</li>
						</ol>
				</ol>
		</ol>
	<li>Inspirations</li>
	<li>Appendix</li>
</ol>


<h3>Links</h3>

<ul>
	<li><a href="https://phoenixtales.de">phoenixtales.de</a></li>
	<li><a href="https://phoenixthegame.com">phoenixthegame.com</a></li>
	<li><a href="https://gothicarchive.org">gothicarchive.org</a></li>
	<li><a href="https://discord.gg/CK4VAR7fpH">phoenix-discord</a></li>
</ul>