<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/style.css" rel="stylesheet" />
<title>{{page.title}} | {{site.title}}</title>
<link rel="icon" type="image/x-icon" href="/docs.ico" />

<style>
    :root {
      background: #181818; /* #121212 */
      color: #776f68;
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
    }

    body {
      max-width: 600px;
      padding: 2em;
    }

</style>

<body>
    {{ content }}
</body>
