<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{site.title}} | {{page.title}}</title>
<link rel="stylesheet" href="/styles.css">
<link rel="icon" type="image/x-icon" href="/nyx.ico" />

<body>

  <header>
    <!--<h1><a href="">Phoenix</a></h1>-->
  </header>

  <nav>
    <input type="checkbox" id="menu-toggle">
		<label for="menu-toggle">
			<span class="menu-icon">&#8801;</span>
		</label>
    {% capture nav %}{% include nav.md %}{% endcapture %}
    {{ nav | markdownify }}
  </nav>
  
  <main>
    <section class="article">
      {{ content }}
    </section>
  </main>

  <footer>
    <p>2016-2022 Phoenix Tales</p>
  </footer>

</body>
