<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{site.title}} | {{page.title}}</title>
<link rel="stylesheet" href="/styles.css">
<link rel="icon" type="image/x-icon" href="/nyx.ico" />

<body>

  <nav>
    <section class="top">
      <ul>
        <li><a href="https://github.com/PhoenixTales" target="_blank">Git</a></li>
        <li><a href="">Contrib</a></li>
        <li><a href="https://phoenixthegame.com">Main</a></li>
      </ul>
    </section>

    <section class="left">
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle">
        <span class="menu-icon">&#8801;</span>
        <p class="menu-title">Phoenix Concept</p>
      </label>

      {% capture nav %}{% include nav.md %}{% endcapture %}
      {{ nav | markdownify }}
    </section>
  </nav>
    
  <main>
    <section id="intro">
      <img class="prophetess" src="/_img/bg/prophetess.png">
      <img class="logo" src="/_img/headings/designdocs3.png">
      <section class="article">
        {{ content }}
      </section>
    </section>
  </main>

  {% include footer.html %}
  
</body>